body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.profile {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

img {
    border-radius: 50%;
    max-width: 150px;
    margin: 10px;
}

.container {
    margin: 20px;
}

h1 {
    font-size: 24px;
}

.content {
    display: inline-block;
    padding: 20px;
}

p {
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
}

.color-control {
    margin-top: 20px;
    text-align: center;
}

label, input {
    text-align: center;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

.container-practice3 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.custom-paragraph {
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
}